<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637519283420-kao092uiia69ji3hthj1glsak0ijv27j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637519283420-kao092uiia69ji3hthj1glsak0ijv27j</string>
	<key>API_KEY</key>
	<string>AIzaSyDkwPOOeO4GssPIUoBws6TsR93dQSjIjkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>637519283420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.golfBooking</string>
	<key>PROJECT_ID</key>
	<string>snp-system</string>
	<key>STORAGE_BUCKET</key>
	<string>snp-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637519283420:ios:e70f6a540915283c9a2019</string>
</dict>
</plist>